* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --black: #2d2d2d;
  --green: #40C9A2;
  --white: #FFFFFF;
  --blue: #00a5e0;
  --blue-gray: #89A1EF;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
